.CardStack {
  width: 300px; /* Set your desired width */
  height: 300px; /* Set your desired height */
  margin-bottom: 50px; /* Adjust margin as needed */
  position: relative;
}

.CardBoard {
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light {
  background-color: #00cc66;
}
.dark {
  background-color: darkgreen;
}

.CenterContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CardStack img {
  position: absolute;
  top: calc(
    10px + ${Math.floor(Math.random() * 10) - 5}px
  ); /* Adjust the initial top spacing */
  left: calc(
    10px + ${Math.floor(Math.random() * 10) - 5}px
  ); /* Adjust the initial left spacing */
  z-index: 1; /* Ensure the cards stack on top of each other */
  transform: rotate(${Math.floor(Math.random() * 5) - 2}deg)
    translate(
      ${Math.floor(Math.random() * 5) - 2}px,
      ${Math.floor(Math.random() * 5) - 2}px
    ); /* Apply random rotation and translation */
}

.CardStack img + img {
  top: calc(
    20px + ${Math.floor(Math.random() * 10) - 5}px
  ); /* Increase the top value for subsequent cards */
  left: calc(
    20px + ${Math.floor(Math.random() * 10) - 5}px
  ); /* Increase the left value for subsequent cards */
  z-index: 2; /* Increment the z-index to stack the cards */
  transform: rotate(${Math.floor(Math.random() * 5) - 2}deg)
    translate(
      ${Math.floor(Math.random() * 5) - 2}px,
      ${Math.floor(Math.random() * 5) - 2}px
    ); /* Apply random rotation and translation */
}

.Buttons {
  margin-right: 20px;
}
